/*-------------------
 * Button
---------------------*/
a,
button {
    &.btn-transparent {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-textSecondary);
        display: inline-block;
        position: relative;
        transition: 0.3s;
        &::after {
            position: absolute;
            content: "";
            left: auto;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: var(--color-primary);
            transition: 0.3s;
        }

        i {
            padding-left: 6px;
            top: -1px;
            position: relative;
            font-size: 12px;
        }
        &:hover {
            color: var(--color-primary);
            &::after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
}

a,
button {
    &.edu-btn {
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        height: 60px;
        line-height: 62px;
        color: var(--edu-btn-color);
        background: var(--color-primary);
        padding: 0 30px;
        font-size: 15px;
        font-weight: 500;
        transition: 0.4s;
        font-family: var(--font-secondary);
        border: 0 none;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @media #{$sm-layout} {
            padding: 0 20px;
            font-size: 14px;
            height: 50px;
            line-height: 52px;
        }
        &:after {
            content: "";
            height: 100%;
            width: 0;
            background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%); 
            border-radius: 5px;
            position: absolute; 
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition: 0.4s;
        }
        i {
            padding-left: 6px;
            position: relative;
            font-size: 11px;
            @media #{$sm-layout} {
                font-size: 9px;
            }
        }

        &:hover {
            &:after {
                left: 0;
                width: 100%;
            }
        }
        
        &.btn-large {
            padding: 0 40px;
            i {
                top: 0;
                padding-left: 10px;
            }
        }

        &.btn-medium {
            height: 50px;
            line-height: 51px;
            padding: 0 25px;
        }

        &.btn-small {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            font-size: 14px;
        }

        &.left-icon {
            i {
                padding-left: 0;
                padding-right: 10px;
            }
        }

        &.btn-curved {
            border-radius: 30px 5px;
            &:hover {
                border-radius: 5px 30px;
            }
        } 
        &.curved-medium {
            border-radius: 20px 5px;
            padding: 0 40px;
            &:hover {
                border-radius: 5px 25px;
            }
        }

        &.btn-secondary {
            background: var(--color-secondary);
            color: var(--color-white);
            &:hover {
                color: var(--color-white);
                background: var(--color-primary);
            }
        }
        &.btn-secondary1 {
            background: var(--color-secondary);
            color: var(--color-white);
            &:hover {
                color: var(--color-heading);
                background: var(--color-white);
            }
        }
        &.btn-border {
            background-color: transparent;
            border: 1px solid var(--color-border);
            color: var(--color-heading);
            padding: 0 25px;
            &:after {
                display: none;
            }
            &:hover {
                background-color: var(--color-primary);
                border-color: var(--color-primary);
                color: var(--color-white);
            }
        }
    }
}

.button-group {
    display: flex;
    align-items: center;
    margin: -5px;
    a {
        margin: 5px;
    }
}
.btn-gradient {
    background:linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    &::after {
        background: linear-gradient(-90deg, #1ab69d 0%, #31b978 100%) !important; 
    }
}
.wishlist-btn {
    background: rgba(255, 255, 255, 0.15);
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    border: 0 none;
    transition: var(--transition);
    i {
        color: var(--color-white);
        font-size: 19px;
        transition: var(--transition);
    }
    &:hover {
        background-color: var(--color-secondary);
    }
    &.btn-outline-dark {
        height: 50px;
        width: 50px;
        line-height: 55px;
        border: 1px solid #e5e5e5;
        color: var(--color-heading);
        pointer-events: all;
        i {
            color: var(--color-heading);
        }
        &:hover {
            border-color: var(--color-secondary);
            i {
                color: var(--color-white);
            }
        }
    }
}


.btn-icon-round {
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 12px;
    &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
    }
}
         
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    border-radius: 20px;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  
    .gsi-material-button-icon {
      height: 20px;
      margin-right: 12px;
      min-width: 20px;
      width: 20px;
    }
  
    .gsi-material-button-content-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }
  
    .gsi-material-button-contents {
      flex-grow: 1;
      font-family: 'Roboto', arial, sans-serif;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
    }
  
    .gsi-material-button-state {
      transition: opacity .218s;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    &:disabled {
      cursor: default;
      background-color: #ffffff61;
      border-color: #1f1f1f1f;
  
      .gsi-material-button-contents {
        opacity: 38%;
      }
  
      .gsi-material-button-icon {
        opacity: 38%;
      }
    }
  
    &:not(:disabled) {
      &::active .gsi-material-button-state, 
      &:focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
      }
  
      &:hover {
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  
        .gsi-material-button-state {
          background-color: #303030;
          opacity: 8%;
        }
      }
    }
  }
  

 